<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/register.css"%}/>
    <link rel="website icon" type="png" href="{% static "images/coc.png"%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@800&display=swap" rel="stylesheet">
</head>
<body style="background-color: #000000">
    <img src="{% static 'images/logococ.png' %}" alt="Minha Imagem" height="100" width="250">
    <h1></h1>
    <img class="imgcoc" style="margin-left: 18em" src="{% static 'images/logonormal.png' %}" alt="Minha Imagem" height="500" width="700">
    {% if eletiva_id %}
    Eletiva ID: {{ eletiva_id }}
    {% endif %}


    {% if group_id %}
    Group ID: {{group_id}}
    {% endif %}


    {% if already_visited == True %}
    <h4 class="d-flex justify-content-center align-items-center" style="color: #42bcbc">Você já visitou um aluno</h4>
    {% endif %}


    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form class="col-md-4" style="padding-top: 2em" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <label for="validationServer01" style:"background-color: #bcbcbc"class="form-label" style="color: #42bcbc"></label>
            <h1></h1>
            <input type="text" class="form-control is-valid" name="name" placeholder="Nome do visitante" id="validationServer01" value="" required>
            <label for="validationServer01" class="form-label" style="color: #42bcbc"></label>
            {% comment %} <input type="text" class="form-control is-valid" id="validationServer03" name="email" placeholder="Email do visitante" aria-describedby="validationServer03Feedback" required> {% endcomment %}
        {% if group_id == None %}
        <div class="col-md-4">
            <label for="group_id" class="form-label"></label>
            <select name="group" id="group_id" value="{{eletiva_id}}">
                <option value="">Eletiva</option>
                {% for group in groups %}
                <option value="{{group.pk}}"> {{group.group_name}} </option>
                {% endfor %}
                    <input type="hidden" name="eletiva" value="{{eletiva_id}}">
            </select>
        </div>    
        {% else %}
        <div class="col-md-4" >
            <input type="hidden" name="group" value="{{group_id}}">
            
        </div>  
        
        {% endif %}
        <div class="col-12">
            <h2 class="espaco"></h2>
            <button class="btn btn-primary" type="submit" style="color: #f0f0f0">enviar</button>
        </div>
        </form>
    </div>
    
</body>
</html>