<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Obrigado!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href={% static "css/thanks.css"%}/>
    <link rel="website icon" type="png" href="{% static "images/coc.png"%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body class="p-5" style="background-color: #000000">
    <img class="coc" src="{% static 'images/logococ.png' %}" alt="Minha Imagem" height="100" width="250">
    <h1></h1>
    <img class="imgcoc" style="margin-left: 15em"src="{% static 'images/logonormal.png' %}" alt="Minha Imagem" height="500" width="700">
    <div class="alert alert-primary mt-3">
        <div class="fundoparag">
        {% if guest_mail is not none %}
        <h2 class="parag1">{{student_name}} agradece sua visita, {{guest_name}}!</h2>
        {% else %}
        <h2 class="parag2"> Agradecemos sua visita! </h2>
        {% endif %}
    </div>
    </div>

    <form action="{% url 'thanks' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">    

        <div class="d-flex justify-content-center align-items-center">
            <h1 class="text">Nos conte a sua experiência na Jornada Científica!</h1>
        
            <button class="btn btn-primary" style="background-color: #42bcbc;" type="submit" name="evaluation" value="3">
                <div class="button-content">
                    <img class="emoji" src="{% static 'images/otimo.png' %}" alt="Minha Imagem" height="100" width="100">
                    <span>ótimo</span>
                </div>
            </button>
            <button class="btn btn-primary" style="background-color: #42bcbc;" type="submit" name="evaluation" value="2">
                <div class="button-content">
                    <img class="emoji" src="{% static 'images/feliz.png' %}" alt="Minha Imagem" height="100" width="100">
                    <span>bom</span>
                </div>
            </button>
        
            <button class="btn btn-primary" style="background-color: #42bcbc;" type="submit" name="evaluation" value="1">
                <div class="button-content">
                    <img class="emoji" src="{% static 'images/regular.png' %}" alt="Minha Imagem" height="100" width="100">
                    <span>regular</span>
                </div>
            </button>
        </div>
    </form>
</form>
</body>
</html>
