<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Verificação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href={% static "css/verify.css"%}/>
    <link rel="website icon" type="png" href="{% static "images/coc.png"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@800&display=swap" rel="stylesheet">
</head>
<body  class="p-5" style="background-color: #000000">
    <img class="coc" src="{% static 'images/logococ.png' %}" alt="Minha Imagem" height="100" width="250">
    <h1></h1>
    <img class="imgcoc" style="margin-left: 15em" src="{% static 'images/logonormal.png' %}" alt="Minha Imagem" height="500" width="700">
    {% comment %} <h1  class="text" style="color: #24bcbc">Insira seu codigo de verificação que chegou no seu email, e escolha o aluno a pontuar</h1> {% endcomment %}
    
    {% if eletiva_id %}
    Eletiva ID: {{eletiva_id}}
    {% endif %}


    {% if group_id %}
    Group ID: {{group_id}}
    {% endif %}


    {% comment %} {% if was_success == False %}
    <h4 class="d-flex justify-content-center align-items-center" style="color: #accccf">Seu código de verificação está incorreto! Por favor tente novamente.</h4>
    {% endif %} {% endcomment %}
    

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <form class="row g-3" action="{% url 'verify' %}" method="post">
        {% csrf_token %} 
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="validationServer04" class="form-label" style="color: #42bcbc"></label>
            {% comment %} <input type="text" class="form-control is-invalid" id="validationServer04" name="verification_code" placeholder="Código de verificação" aria-describedby="validationServer04Feedback" required> {% endcomment %}
            <input type="hidden" name="user_id" value="{{ user_id }}">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center flex-column  ">
            <label for="student_id" class="form-label" style="color: #42bcbc"></label>
            <select name="student" id="student_id"  value="{{group_id}}">
                <option value="">Aluno</option>
                {% for student in students %}  
                <option class="option" value="{{student.pk}}"> {{student.student_name}} </option>
                {% endfor %}
                <input type="hidden" name="group" value="{{group_id}}">
            </select>
        </div>   
        <div class="col-12">
            <button class="btn btn-primary" style="color: #f0f0f0" type="submit">Enviar</button>
        </div>
    </form>
</div>
</body>
</html>
