<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Verificação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/verify.css' %}"/>
    <link rel="website icon" type="png" href="{% static 'images/coc.png' %}">

    <script>
        console.log('iniciando ')    
        function filterStudent(value) {
            const studentList = document.getElementById('search_students'); // Get the student list
            const students = studentList.getElementsByTagName('li'); // Get all list items (students)
    
            Array.from(students).forEach(function (student) {
                if (student.textContent.toLowerCase().includes(value.toLowerCase())) {
                    student.style.display = 'block'; //display submit button
                } else {
                    student.style.display = 'none'; 
                }
            });
        }
    
        function handleInput(event) {
            const input = event.target;
            filterStudent(input.value);
        }
    </script>

</head>

<body class="p-5" style="background-color: #000000">
    <img class="coc" src="{% static 'images/logococ.png' %}" alt="Minha Imagem" height="100" width="250">
    
    <div class="logoJornada">
        <img src="{% static 'images/logojornada.png' %}" alt="Logo da Jornada">
    </div>
    
    <div id="debug-json">{{ qs_json }}</div>

    <div class="container mt-3">
        <input type="hidden" name="user_id" value="{{ user_id }}">        
        <input id="search_here" class="form-control mb-3" oninput="handleInput(event)" placeholder="Type here to search"/>
        
        <!-- Form that will be submitted when a student is selected -->
        <form id="student_form" method="POST" action="{% url 'verify' %}">
            {% csrf_token %} <!-- Ensure CSRF protection for form submission -->
            <ul id="search_students" style="color: white">
                {% for student in object_list %}
                    <!-- Each student is now a button that submits the form when clicked -->
                    <li>
                        <button type="submit" name="student_name" value="{{ student.student_name }}" class="btn btn-primary">{{ student.student_name }}</button>
                    </li>
                {% empty %}
                    <li>No students found.</li>
                {% endfor %}
            </ul>
        </form>
    </div>
    
</body>
</html>
