/* Autocomplete Suggestions Styles */
.autocomplete-box {
    border: 1px solid #42bcbc; /* Match the primary color */
    max-height: 200px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Allow scrolling if necessary */
    background-color: #424242; /* Same background color as the body */
    position: absolute; /* Position it below the input */
    z-index: 1000; /* Ensure it appears above other elements */
    width: calc(100% - 2px); /* Ensure the width matches the input */
    border-radius: 5px; /* Slight rounding for a smoother look */
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
}

.autocomplete-box b {
    display: list-item; /* Make each suggestion a block element */
    padding: 10px; /* Padding for better touch targets */
    color: #f0f0f0; /* Text color for better visibility */
    cursor: pointer; /* Change cursor to pointer */
}

.autocomplete-box b:hover {
    background-color: rgba(66, 188, 188, 0.5); /* Highlight on hover with a slight color change */
}

.autocomplete-box b:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Optional: add a separator between items */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza na horizontal */
    justify-content: flex-start; 
    width: 100%; 
    min-height: 100vh; 
}

.coc {
    margin-bottom: 20px; 
}

.container {
    width: 45%; /* largura */
    text-align: center;
    background-color: #000000;
    padding: 20px; 
    border-radius: 10px; 
}

#search_students {
    max-height: 200px; 
    overflow-y: auto; /* rolagem vertical */
    padding: 0; 
    margin-top: 10px; 
    list-style: none; /* tira os marcadores da lista */
    width: 100%; /* garante que a lista ocupa toda a largura do container */
}


#search_students li button {
    width: 100%; 
    background-color: #42bcbc;
    border: none;
    color: white;
    padding: 0.6em;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#search_students li button:hover {
    background-color: rgba(26, 181, 219, 0.8); 
}